

textarea {
    margin: 5% auto;
    max-width: 600px;
    max-height: 250px;
    height: 300px;
    width: 600px;
}
section {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-left: 144px;
}